<% if(_.size(coverageByFile)){ %>Branch coverage results:
<% _.forEach(coverageByFile, (fileCoverage, file) => { if(_.size(fileCoverage.branches.details)){ %>------------------------------------------------------------------------------
${getRelativePath(fileCoverage.file)}
------------------------------------------------------------------------------
<% _.forEach(_.get(diffByFile, [file, 'linesByNumber']), (line, lineNumber) => { %>${displayBranchCoverage(file, lineNumber, line)}<% }); %>------------------------------------------------------------------------------
<% }}); %>
<% } %>