<% if(_.size(coverageByFile)){ %>Line coverage results:
<% _.forEach(coverageByFile, (fileCoverage, file) => { if(_.size(fileCoverage.lines.details)){ %>------------------------------------------------------------------------------
${getRelativePath(fileCoverage.file)}
------------------------------------------------------------------------------
<% _.forEach(_.get(diffByFile, [file, 'linesByNumber']), (line, lineNumber) => { %>${displayLineCoverage(file, lineNumber, line)}<% }); %>------------------------------------------------------------------------------
<% }}); %>
<% } %>