<% if(_.size(coverageByFile)){ %>Diff coverage statistics:

<% _.forEach(coverageByFile, fileCoverage => { %>  ${displayCoverage(fileCoverage, 'lines', true)} ${getRelativePath(fileCoverage.file)}
<% }); %><% } else { %>No coverage information found for any of the new lines in the diff.
<% } %>